.amount {
  display: block;
  padding: 8px;
}

.amount input {
  border: 3px solid #888;
}


.amount input.negative {
  border: 3px solid #f00;
}

.amount.dark input, .amount.dark select {
  background-color: #555;
  color: #ccc;
}
