.converter {
  margin: 0.5rem;
  padding: 1rem;
  display: inline-flex;
  flex-direction: column;
  border: 3px solid #888;
}

.converter .converter--header h1 {
  font-size: 20px;
  text-transform: uppercase;
}
